<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<h2>Recently seen URLs</h2>

<table>
    <div class="url-list-item">
        <ul>
            <li>URL:</li>
            <li>Total Requests: 2999100 since 2014-01-01 12:00:00</li>
            <!-- TODO
            <li>Failures: 0 since 2014-01-01 12:00:00</li>
            <li>Simultaneous waits: 58/100 currently. Max was 157 on 2014-01-01 12:00:00.</li>
            <li>Backlog: 0  currently. Max was 50 on 2014-01-01 12:00:00</li>
            <li>Response time: 0.50ms avg/0.99ms worst on 2014-01-01 12:00:00</li>
            <li><a href="">Reset stats</a></li>
            -->
            <!-- TODO better response times reporting (histogram)-->
        </ul>
    </div>
</table>

</body>
</html>